<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="PettoStudio.AppServices" connectionString="Server=tcp:neshbhz2jj.database.windows.net,1433;Database=PettoStudio.AppServices;User ID=pettostudio@neshbhz2jj;Password=Pettofeifei625;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;pooling=true;Max Pool Size=1000" />-->
    <add name="PettoStudio.AppServices" connectionString="Server=121.43.149.55,1433;Database=PettoStudio.AppServices;User ID=sa;Password=Alibabasb123;Connection Timeout=60;pooling=true;Max Pool Size=1000"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TimeInterval" value="10"/>
    <add key="Country" value="China"/>
  </appSettings>
</configuration>